[spotlight-search-pull-to-refresh] {
  width: 100%;
  height: 0;
}

.container {
  color: #B5B3AD;
  padding: 1rem;
  position: relative;
  flex: 1;
  overflow-y: auto;
}

[spotlight-search-input] {
  position: relative;
  margin: 0 var(--margin-x) var(--margin-x);
  flex-shrink: 0;
  align-self: center;
  z-index: 2;
}

[spotlight-search-input] input {
  width: 100%;
  height: 100%;
  padding-left: 1.75rem;
  padding-right: .75rem;
  line-height: 1.25rem;
  background-color: #2A2A2A;
  border: none;
  border-radius: 8px;
  margin-top: auto;
  outline: none;
  font-size: inherit;
  color: #B5B3AD;
}

[spotlight-search-input] .icon {
  position: absolute;
  left: var(--margin-x);
  top: 50%;
  transform: translateY(-50%);
  color: #EEEEEC;
}

@keyframes blink_input_opacity_to_prevent_scrolling_when_focus {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* prevent auto scrolling when input gets focused */
[spotlight-search-input] input:focus{
  animation: blink_input_opacity_to_prevent_scrolling_when_focus 1ms;
}

[spotlight-search-content] {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #EEEEEC;
}

[spotlight-search-overlay] {
  display: block;
  height: 200vh;
  width: 100%;
  position: fixed;
  background-color: #1919199f;
  top: -50%;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 1;
}

 [spotlight-search-content].background {
  /* background-color: #1919199f; */
  pointer-events: none;
  position: absolute;
  inset: 0;
}

 [spotlight-search-content] [cmdk-root] {
  gap: .5rem;
  position: relative;
  z-index: 1;
}

[spotlight-search-content] [cmdk-root],
[spotlight-search-content] [cmdk-list],
[spotlight-search-content] [cmdk-list-sizer] {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.scrollable-area {
  flex: 1;
  padding: 1rem;
}


[spotlight-search-content] [cmdk-item] {
  display: flex;
  align-items: center;
  gap: .5rem;
  width: 100%;
  padding: .5rem;
  border-radius: 6px;
}

[spotlight-search-content] [cmdk-item][data-selected="true"] {
  background-color: #313131;
}

[spotlight-search-content] [cmdk-item] .left {
  display: flex;
}

[spotlight-search-content] [cmdk-item] .left .icon {
  display: flex;
  padding: .25rem;
  background-color: #3A3A3A;
  border-radius: 8px;
}

[spotlight-search-content] [cmdk-item] .right {
  font-size: .875rem;
  display: flex;
  gap: .25rem;
  flex: 1;
  position: relative;
}

[spotlight-search-content] [cmdk-item] .right .extra {
  display: flex;
  align-items: center;
  gap: .25rem;
}
